metastore_db
project/boot
project/project
target
\#*#
*~
.#*
.lib
.history
.*.swp
.idea
.idea/*
.idea_modules
.DS_Store
.sbtrc
*.sublime-project
*.sublime-workspace
tests.iml
.bloop
.metals
.vscode
project/metals.sbt
.bsp
